{:name "create-deck",
 :prerequisite "load-scene-flat.edn",
 :timeout 10,
 :message->client :test-values/create-deck,
 :entries
 [{:message
   "Websocket sending message [<[:m/update] M:LKYhHswSTo6qd9gJfsl92g>]",
   :source "dungeonstrike.websocket",
   :log-type :driver}
  {:message "Received message [<[Update] M:LKYhHswSTo6qd9gJfsl92g>]",
   :source "DungeonStrike.Source.Services.UpdateService",
   :log-type :client}
  {:message
   "Finished processing message [<[Update] M:LKYhHswSTo6qd9gJfsl92g>]",
   :source "DungeonStrike.Source.Services.UpdateService",
   :log-type :client}
  {:message "Object created [Canvas]",
   :source "DungeonStrike.Source.Tools.Panopticon",
   :log-type :client}
  {:message
   "Component Update [Game Object=Canvas, Component=UnityEngine.RectTransform, State={AnchorMin=(0.0, 0.0), AnchorMax=(0.0, 0.0), AnchoredPosition=(0.0, 0.0), SizeDelta=(0.0, 0.0), Pivot=(0.0, 0.0)}]",
   :source "DungeonStrike.Source.Tools.Panopticon",
   :log-type :client}
  {:message "Object created [Deck]",
   :source "DungeonStrike.Source.Tools.Panopticon",
   :log-type :client}
  {:message
   "Component Update [Game Object=Deck, Component=UnityEngine.RectTransform, State={AnchorMin=(1.0, 0.0), AnchorMax=(1.0, 0.0), AnchoredPosition=(0.0, 0.0), SizeDelta=(76.0, 20.0), Pivot=(1.0, 0.0)}]",
   :source "DungeonStrike.Source.Tools.Panopticon",
   :log-type :client}
  {:message
   "Component Update [Game Object=Deck, Component=UnityEngine.UI.Image, State={SpriteName=deck}]",
   :source "DungeonStrike.Source.Tools.Panopticon",
   :log-type :client}]}
