{:name "create-entity-soldier",
 :prerequisite "load-scene-flat.edn",
 :timeout 10,
 :message->client
 #:m{:message-type :m/update,
     :message-id "M:U3VMDB3JTaWzDHSD86dn1w",
     :create-objects
     [#:m{:object-name "Soldier",
          :transform #:m{:transform-type :m/cube-transform
                         :position3d #:m{:x 0, :y 0, :z 0}},
          :prefab-name :assets/soldier,
          :components []}],
     :update-objects
     [#:m{:object-path "Soldier/Body",
          :components
          [#:m{:component-type :m/renderer,
               :material-name :assets/soldier-forest}]}
      #:m{:object-path "Soldier/Helmet",
          :components
          [#:m{:component-type :m/renderer,
               :material-name :assets/soldier-helmet-green}]}
      #:m{:object-path "Soldier/Bags",
          :components
          [#:m{:component-type :m/renderer,
               :material-name :assets/soldier-bags-green}]}
      #:m{:object-path "Soldier/Vest",
          :components
          [#:m{:component-type :m/renderer,
               :material-name :assets/soldier-vest-green}]}],
     :delete-objects []}
 :entries
 [{:message
   "Websocket sending message [<[:m/update] M:U3VMDB3JTaWzDHSD86dn1w>]",
   :source "dungeonstrike.websocket",
   :log-type :driver}
  {:message "Received message [<[Update] M:U3VMDB3JTaWzDHSD86dn1w>]",
   :source "DungeonStrike.Source.Services.UpdateService",
   :log-type :client}
  {:message
   "Finished processing message [<[Update] M:U3VMDB3JTaWzDHSD86dn1w>]",
   :source "DungeonStrike.Source.Services.UpdateService",
   :log-type :client}
  {:message "Object created [Soldier]",
   :source "DungeonStrike.Source.Tools.Panopticon",
   :log-type :client}]}
