{:name "create-entity-soldier",
 :prerequisite "load-scene-flat.edn",
 :timeout 10,
 :message->client
 #:m{:message-type :m/create-entity,
     :message-id "M:yYWIrFojTB6/f8sUA6U34w",
     :new-entity-id "E:DRLS2GWvR8GAZaZixfBamw",
     :prefab-name :assets/soldier,
     :position #:m{:x 0, :y 0},
     :material-updates
     [#:m{:entity-child-path "Body", :material-name :assets/soldier-forest}
      #:m{:entity-child-path "Helmet",
          :material-name :assets/soldier-helmet-green}
      #:m{:entity-child-path "Bags", :material-name :assets/soldier-bags-green}
      #:m{:entity-child-path "Vest",
          :material-name :assets/soldier-vest-green}]}
 :entries
 [{:message
   "Websocket sending message [<[:m/create-entity] M:yYWIrFojTB6/f8sUA6U34w>]",
   :source "dungeonstrike.websocket",
   :log-type :driver}
  {:message
   "Received message [<[CreateEntity] M:yYWIrFojTB6/f8sUA6U34w>]",
   :source "DungeonStrike.Source.Services.CreateEntity",
   :log-type :client}
  {:message
   "Finished processing message [<[CreateEntity] M:yYWIrFojTB6/f8sUA6U34w>]",
   :source "DungeonStrike.Source.Services.CreateEntity",
   :log-type :client}
  {:message "Entity created [<Soldier E:DRLS2GWvR8GAZaZixfBamw>]",
   :source "DungeonStrike.Source.Tools.Panopticon",
   :log-type :client}]}
