{:name "create-entity-soldier",
 :prerequisite "load-scene-flat.edn",
 :timeout 10,
 :message->client :test-values/create-entity-soldier,
 :entries
 [{:message
   "Websocket sending message [<[:m/update] M:U3VMDB3JTaWzDHSD86dn1w>]",
   :source "dungeonstrike.websocket",
   :log-type :driver}
  {:message "Received message [<[Update] M:U3VMDB3JTaWzDHSD86dn1w>]",
   :source "DungeonStrike.Source.Services.UpdateService",
   :log-type :client}
  {:message
   "Finished processing message [<[Update] M:U3VMDB3JTaWzDHSD86dn1w>]",
   :source "DungeonStrike.Source.Services.UpdateService",
   :log-type :client}
  {:message "Object created [Soldier]",
   :source "DungeonStrike.Source.Tools.Panopticon",
   :log-type :client}]}
