{:name "load-scene-empty",
 :prerequisite nil,
 :timeout 10,
 :message->client :test-values/load-scene-empty,
 :entries
 [{:message
   "Received message [<[LoadScene] M:1RsO5ExNSW25/l6iPNyBZA>]",
   :source "DungeonStrike.Source.Services.SceneLoader",
   :log-type :client}
  {:message
   "Websocket sending message [<[:m/load-scene] M:1RsO5ExNSW25/l6iPNyBZA>]",
   :source "dungeonstrike.websocket",
   :log-type :driver}
  {:message "Scene loaded [Empty]",
   :source "DungeonStrike.Source.Tools.Panopticon",
   :log-type :client}
  {:message
   "Finished processing message [<[LoadScene] M:1RsO5ExNSW25/l6iPNyBZA>]",
   :source "DungeonStrike.Source.Services.SceneLoader",
   :log-type :client}]}
