{:name "load-scene-flat",
 :prerequisite nil,
 :message->client
 {:m/message-type :m/load-scene,
  :m/scene-name :flat,
  :m/message-id "M:EneVWA/wT6m7fkrSS3yonw"},
 :entries
 [{:message
   "Websocket sending message [message=<[load-scene] M:EneVWA/wT6m7fkrSS3yonw>]",
   :source "dungeonstrike.websocket",
   :log-type :driver}
  {:message
   "Received message [<[LoadScene] M:EneVWA/wT6m7fkrSS3yonw>]",
   :source "DungeonStrike.Source.Services.SceneLoader",
   :log-type :client}
  {:message "Loading scene [Flat]",
   :source "DungeonStrike.Source.Services.SceneLoader",
   :log-type :client}
  {:message
   "Finished processing message [<[LoadScene] M:EneVWA/wT6m7fkrSS3yonw>]",
   :source "DungeonStrike.Source.Services.SceneLoader",
   :log-type :client}]}
