{:name "load-scene-flat",
 :prerequisite nil,
 :timeout 10,
 :message->client
 {:m/message-type :m/load-scene,
  :m/scene-name :flat,
  :m/message-id "M:nIBUiVA8R6SnIoWSJ9WtvA"},
 :entries
 [{:message
   "Websocket sending message [<[:m/load-scene] M:nIBUiVA8R6SnIoWSJ9WtvA>]",
   :source "dungeonstrike.websocket",
   :log-type :driver}
  {:message
   "Received message [<[LoadScene] M:nIBUiVA8R6SnIoWSJ9WtvA>]",
   :source "DungeonStrike.Source.Services.SceneLoader",
   :log-type :client}
  {:message "Scene loaded [Flat]",
   :source "DungeonStrike.Source.Tools.Panopticon",
   :log-type :client}
  {:message
   "Finished processing message [<[LoadScene] M:nIBUiVA8R6SnIoWSJ9WtvA>]",
   :source "DungeonStrike.Source.Services.SceneLoader",
   :log-type :client}]}
